<h1>Create a Sub</h1>

    <form action="<%= subs_url %>" action="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <label>Title: 
        <input type="text" name="sub[title]">
        </label>
        <br>
        <br>
        <label>Description: 
        <textarea name="sub[description]"></textarea>
        <br>
        <br>
        </label>
        <button>Submit Sub</button>
    </form>